
.input {
    border: 0.5px solid var(--ion-color-medium);
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: 10px;
    color: var(--ion-color-medium);
}
.help{
    padding: 15px;
    font-size: 15pt;
}

.res{
    color: var(--ion-color-success);
    font-weight: bold;
}